<header>
  <nav class="navbar Navbar header_nav">
    <div class="container-fluid">
      <a href="" class="" ><img src="<%= asset_path 'logo.png' %>" alt="ホームページのロゴ画像" class="header_logo"></a>
      <div class="dropdown header_menu">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </nav>
</header>
