<%= render "shared/header"%>
<div class="top_view">
  <section class="container">
    <div class="top_title">
      <h2>Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</h2>
    </div>
    <div>
    <h1>検索用</h1>
    </div>
  </section>
</div>

<div class="container">
  <section class="container">
    <h2 class="aria_title">おすすめのエリア</h2>
      <div class="area_links">
        <div class="area_link">
          <h3>東京エリア</h3>
          <a href="">東京</a>
        </div>

        <div class="area_link">
          <h3>大阪エリア</h3>
           <a href="">大阪</a>
        </div>

        <div class="area_link">
          <h3>京都エリア</h3>
          <a href="">京都</a>
        </div>

        <div class="area_link">
          <h3>札幌エリア</h3>
          <a href="">札幌</a>
        </div>
      </div>
  </section>
</div>
<%= render "shared/footer"%>
