<%= render "shared/header"%>
<div class="top_view">
  <section class="container">
    <div class="top_title">
      <h2>Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</h2>
    </div>
    <div>
    <h1>検索用</h1>
    </div>
  </section>
</div>

<div class="container">
  <section>

  </section>
</div>
