/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header_nav {
  background-color: #1c1d3b;
}

.header_logo {
  width: 200px;
  margin-left: 200px;
}

.header_menu {
  margin-right: 200px;
}

/* ログイン時 */
.user_image {
  height: 50px;
}

.user_name {
  color: #fff;
  font-size: 20px;
}

/* -------------- */

/* 非ログイン時 */
.login_link {
  padding: 10px;
  margin-left: auto;
  color: #fff;
}

/* -------------- */

.dropdown_link {
  color: #1c1d3b;
  text-decoration: none;
}


.new_user_link {
  margin-left: 10px;
  margin-right: 140px;
  color: #fff;
}

.top_view {
  height: 700px;
  background-image: url('cover-lg.jpg');
  background-position: 50%;
  background-size: cover;
}

.top_title {
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
